<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checktray Image Count</title>
    <script>
        function sendEmail() {
            const data = {
                // Add your JSON data here
                "isAttchmentReq":true,
                "recipients":['rajesh@aquaexchange.com'],
                "recipientsCC" : ['rajesh@aquaexchange.com']
            };

            fetch('/send_checktrayCount_email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(`Response: ${JSON.stringify(data)}`);
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        }
        function notifyDayFeedBubble(siteIds) {
            const data = ["AXC2507247563A24","AXC2507244576A24","DSE2007242348A24","ESE2007245662A24"];

            fetch('/notify_day_feed_bubble', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(`Response: ${JSON.stringify(data)}`);
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        }
    </script>
</head>
<body>
    <h1>Checktray Image Count Report</h1>
    <button onclick="sendEmail()">Send Email</button>
    <h1>Send Day FeedBubble</h1>
    <button onclick="notifyDayFeedBubble()">Notify Day Feed Bubble</button>
</body>
</html>
