<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checktray Image Count</title>
    <script>
        function sendSampleCheckTrayCountEmail() {
            const data = {
                // Add your JSON data here
                "isAttchmentReq":true,
                "recipients":['rajesh@aquaexchange.com'],
                "recipientsCC" : ['rajesh@aquaexchange.com']
            };

            fetch('/send_checktrayCount_email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(`Response: ${JSON.stringify(data)}`);
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        }
        function send_sample_email_by_subject_body_attachment() {
            const data = {
               "subject":"Test Email",
                "msgbody":"<p>Dear Team,</p>\n<p>The Checktray image count for yesterday (2024-09-03) is 42. Please find the attached report for more details.</p>\n<p>Best regards,<br>Backend Team</p>",
                "to_emails":['rajesh@aquaexchange.com'],
                "cc_emails" : ['rajesh@aquaexchange.com']
            };

            fetch('/send_email_by_subject_body_attachment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(`Response: ${JSON.stringify(data)}`);
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        }
        function notifyDayFeedBubble(siteIds) {
            const data = ["AXC2507247563A24","AXC2507244576A24","DSE2007242348A24","ESE2007245662A24"];

            fetch('/notify_day_feed_bubble', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(`Response: ${JSON.stringify(data)}`);
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        }
    </script>
</head>
<body>
    <h1>Checktray Image Count Report</h1>
    <!-- <button onclick="sendSampleCheckTrayCountEmail()">Send Email</button> -->
    <!-- <h1>Send Day FeedBubble</h1>
    <button onclick="notifyDayFeedBubble()">Notify Day Feed Bubble</button> -->
    <h1>Send Sample Email by subject and Body</h1>
    <!-- <button onclick="send_sample_email_by_subject_body_attachment()">Send</button> -->
</body>
</html>
